<div class="modal fade" id="product:link:modal" tabindex="-1" aria-labelledby="product:link:modal:label"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="product:link:modal:label">
                    Vincular producto <span class="text-muted" id="product:link:modal:code"></span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="buscarProductoInput" class="form-control mb-2"
                       placeholder="Buscar producto por SKU o descripción">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="tablaProductos">
                        <thead>
                        <tr>
                            <th>Referencia</th>
                            <th>Ref. Fabricante</th>
                            <th>Fabricante</th>
                            <th>Descripción</th>
                            <th>Acción</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
